p {
    font-size: 14px;
    color: Indigo;
    word-spacing: 5px;
}

a {
    font-weight: bold
}
a:visited {
    color:darkred;
}
a:hover {
    color:darkgreen;
}

div {
    width: 90%;
    margin: auto;
    border: 15px solid green;
    padding: 50px;
}

q {
    width: 50%;
    margin: 80px auto;
    font-size: 160%;
    background-color: grey;
    border-left: dashed 3px;
    border-spacing: 30px;
    display: block;
    font-style: italic;
}

body {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-image: linear-gradient(darkseagreen, white);
}

.villagers {
    border-left-color: midnightblue;
}
.farmer {
    border-left-color: darkred;
}

header>h1 {
    background-color: yellow;
}

.good {
    text-transform: uppercase;
    color: green;

}
.bad {
    text-transform: uppercase;
    color: red;
}

tr:nth-child(odd) {
    background-color: grey;
}
tr:nth-child(even) {
    background-color: white;
}

header>p {
    font-weight: bold;
}

img {
    float:right;
    width: 50%;
}

#note {
    background-color: white;
    position:fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 0.5%;
}

body {
    padding-bottom: 10%;
    width: 90%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

section {
    width: 100%;
}

article {
    display: block;
}